* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
    --default-border-radius: 1.9rem;
    --default-font-color:  #655;
}

/*Header1 /////////////////////////////////////////////////////////////////////////////*/
.navbar-1 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 2.5rem;
    /*<<<<<<< HEAD
        
    
    =======
        background: transparent;
    >>>>>>> 169a98672866a4c0719048ba583d8d7c17825f23*/
}

.navbar-1 .menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}
.navbar-1 .menu li{
    padding: 0rem;
    margin-left: 4rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    transition: transform 0.3s ease;
    cursor:pointer;
}
.navbar-1 .menu a{
    display:block;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color:var(--default-font-color);
    font-size: 2rem !important;
    text-decoration: none;
}
.navbar-1 .menu li:hover{

    transform: scale(1.2);
    animation-delay: 0.5s;
    color: #6A5ACD;
}

.navbar-1 .logo img, button {
    width: 100%;
    height:7rem;
    border: none;
    background: transparent;

}

/*Index page ////////////////////////////////////////////////////////////////////////*/
.body-gradient{

    background: linear-gradient(to top, rgba(230, 222, 246, 1) 5%, rgba(250, 249, 253, 1) 37%, rgba(249, 251, 251, 1) 45%, rgba(238, 234, 250, 1) 87%);
    font-family: Roboto;
    font-size: 1.4rem;
    background-size: auto;
    height: 100%;


}
.body-index {
    background: linear-gradient(to top, rgba(230, 222, 246, 1) 5%, rgba(250, 249, 253, 1) 37%, rgba(249, 251, 251, 1) 45%, rgba(238, 234, 250, 1) 87%);
    font-family: Roboto;
    font-size: 1.4rem;

}

.content {
    display: grid;
    grid-template-areas:
        " . . . ."
        " . hero  form ."
        " . hero form  ."
        ;
    gap: 3.5rem;
}
.content-sobre{
    background:  rgba(255, 255, 255, 0.8);
    border-radius:0.4rem;
}

.index-main {
    grid-area: form;
    position: relative;
    width: 60rem;
    height: 52rem;
    border:none;
    padding: 7rem 4.4rem;
    border-radius: var(--default-border-radius);
    user-select:none;
}

.aside-index {
    grid-area: hero;
    background: transparent;
}

.aside-index img {
    width: 100%;
    max-width: 590px;
    height: auto;
    object-fit: contain;

}


main h2 {
    color: #000000;
    max-width: 43rem;
    font-size: 3.6rem;
    text-align: right;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    font-size: 2.4rem;
    text-decoration: none;
    background: linear-gradient(to right,#6A5ACD, #EE82EE);
    height: 3.5rem;
    width: 50%;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
    margin-left: 20rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
main .actions a:hover{
    transform: scale(1.1);
    background: linear-gradient(to right, #6A5ACD, #EE82EE);
}

main .actions p{
    font-size: 1.9rem;
    padding-top: 3.5rem;

}

main .actions a+a {
    background-color: #A0522D;
    margin-top: 4.8rem;
}

main header {
    display: flex;
    gap: 1.8rem;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-areas:
            "."
            "hero"
            "form";
        gap: 4rem;
    }

    main {
        width: 100%;
        padding: 2.8rem;
    }

    aside img {
        max-width: 100%;
    }

    main h2 {
        font-size: 2.8rem;
        max-width: none;
    }

    main .actions a {
        font-size: 2rem;
        height: 4.5rem;
        margin-top: 3.2rem;
    }

    main .actions a+a {
        margin-top: 2.8rem;
    }
}

/*Login e cadastro*/
/*////////////////////////////////////////////////////////////////////////////////////////*/
.content-form{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.8);

}

.login-img img{
    width: 30rem;
    height: auto;
}

.form, form{

    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    text-indent: 0.5rem;
    width: 40rem;


}

.form p{
    width: 100%;
    text-align: center;
    color:var(--default-font-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form form label {
    /*padding-left: 5rem*/
    font-size: 2rem;
    font-weight: 350;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    display: flex;
    text-align: start;
    color:var(--default-font-color);
}

.form form input, .form form textarea {
    outline: none;
    opacity:70%;
    width: 100%;
    height: 4.5rem;
    justify-content: center;
    font-size:2rem;
    align-content: center;
    text-align: start;
    text-indent: 0.5rem;
    background: transparent;
    border: solid 0.1rem;
    border-radius: 1rem;
    border-color:#6b26e2;
    transition: .1s;
    color: #000;
}

.form form textarea{
    height: auto !important;
    max-height: calc(3.6em + 2rem);
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

/* Estilizando a barra de rolagem vertical */
.form form textarea::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.form form textarea::-webkit-scrollbar-thumb {
    background-color: #000; /* Cor do thumb (ponteiro) da barra de rolagem */
    border-radius: 5px; /* Borda arredondada do thumb */
}

.form form input:focus, .form form textarea:focus {
    transform:scale(1.05)
}
.form .actions-login{

    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .actions-login input {
    font-size: 1.8rem;
    text-decoration: none;
    background: #6b26e2;
    width: 100%;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:transparent;
    transition: transform 0.3s ease;
    overflow: hidden;
    font-weight: 400;
    cursor:pointer;
}
.form .actions-login input:hover{
    transform: scale(1.1);

}

.form .recovery{
    padding: 1rem;
    width:100%;
    text-align: right;
}
.form .recovery a{
    text-decoration: none;
    font-size: 1.5rem;
}

.form .recovery a:hover{

    text-decoration: underline;
}
a.cadastro-link {
    font-size: 2rem;
    text-decoration: none;
    background:transparent;
    margin-top: 1rem;
    height: 4rem;
    width: 100%;
    border-color:#6b26e2;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:solid 0.1rem;
    ;
    transition: transform 0.3s ease;
    font-weight: 400;
    cursor:pointer;
    color:#6b26e2;
}


.cadastro-link:hover{
    transform: scale(1.1);

}


/*Tela de cadastro ////////////////////////////////////////////////////////////*/
.cadastro a{
    font-size: 1.8rem;
    text-decoration: none;
    background:transparent;

    height: 4rem;
    width: 100%;
    border-color:#6b26e2;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:solid 0.1rem;
    ;
    transition: transform 0.3s ease;
    font-weight: 400;
    cursor:pointer;
    color:#6b26e2;
}
.cadastro a:hover{
    transform: scale(1.1);

}
p.ou{
    font-size: 1.5rem;
    margin: 0;
    margin-top:1rem;
}



.content-sobre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    width: 90%;
    margin-left: 6rem;
    padding: 3rem;
    height: auto;
}

.main-sobre {
    position: relative;
    width: 60rem;
    height: 10rem;
    border: none;
    border-radius: var(--default-border-radius);
}

.main-sobre h1 {
    text-align: initial;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 400;
}

div .texto-sobre p{
    text-align: justify-all;
    font-size: 2rem;
}

div.display-img div:nth-child(1) {
    display:flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;

}
div.display-img div:nth-child(2) {
    display:flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;

}

p.nome{
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
}

.display-img img {
    max-width: 19rem;
    height: 100%;
    border-radius: 100%;
}
.form .actions-login-cadastro input {
    margin-top:2rem;
    font-size: 1.8rem;
    text-decoration: none;
    background: #6b26e2;
    width: 100%;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:transparent;
    transition: transform 0.3s ease;
    overflow: hidden;
    font-weight: 400;
    cursor:pointer;
}
.form .actions-login-cadastro input:hover{
    transform: scale(1.1);

}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*HEADER-2 */

.head-2, ul{
    display: flex;
    overflow: visible;
    width:100%;
    height: auto;
    background: transparent;
    justify-content: flex-start;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0;
}
.item1{
    flex: 0.5;
}
.item2{
    flex: 2;
}
.item3{
    flex: 1;
}
.menu-perfil {
    display: flex;
    color: #333;
    align-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    color: #666;
    font-weight: 300;
    gap: 4rem;
}


.menu-perfil li {


    list-style: none;
    position: relative;
    text-decoration: none;
    height: auto;
    justify-content: center;
}
.menu-perfil .item2{
    margin-top: 3.1rem;
}
.search-radios .pesquisa {

    background-color: transparent;
    border: 0.01rem solid #6a49b2;
}
.search-radios .pesquisa:focus{
    transform: scale(1.1);
    transition: 0.50s;
    background-color: #EEE;
}


.menu-perfil a img, button{

    align-items: center;
    text-align: center;
    height:7rem;
    border: none;
    background: transparent;
}

.submenu {
    position: relative;
    display: inline-block;
    height: auto;
}

.submenu-conteudo {
    display:none;
    margin-right: 2rem;
    ;
    position: absolute;
    background-color: #f9f9f9;
    padding: 0.1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 2
}
.submenu-conteudo form{
    width: 100%;
    margin:0;
    padding:0;

}
.submenu-conteudo form button{
    font-size: 1.5rem;
    width:90%;
    margin:1rem;
    align-content: start;
    text-align: center;
    justify-content: center;

}


.submenu:hover .submenu-conteudo {

    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

.submenu-conteudo li form:hover button{
    transition: .25s;
    background: #6a49b2;
    color: white;
    border-radius: var(--default-border-radius);
}
.submenu-conteudo li{
    padding: 0.1rem;
}

.submenu span {
    display: flex;
    align-items: center;
}
.submenu span img{

    display:flex;
    align-content: center;
    width: 100%;
    height:7rem;
    border: none;
    border-radius: 2rem;
    background: transparent;
    color: black;
    padding:1.2rem;
    text-decoration: none;
}

.special-li{
    height: 5rem;
    border: solid 0.1rem;
    border-radius: 2rem;
    padding: 1rem;
    padding-right: 0;
    cursor:pointer;


}
.button-icon{
    padding-left: 1rem;
    padding-right: 3rem;
}

.add-button{
    height: 4.7rem;
    width: 90%;
    text-align: center;
    border-radius: 3.5rem;
    background-color: #6A5ACD;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    cursor: pointer;
}
.add-button i{
    margin-left: 0rem;
    margin-right: 1rem;
    color: #fff;

}
.add-button:hover{
    transform: scale(1.1);
    transition: 0.50s;
}

.menu-perfil li input{
    width:100%;
    font-size: 1.5rem;
    border: none;
    border-radius:3.5rem;
    padding: 1rem;
    border: solid 0.1rem;

}

.menu-perfil li input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.filter-btn{
    margin: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #666;

}
.filter-btn input[type="radio"]{
    margin-left: 0.6rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ccc;
    -webkit-appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    position: relative;
    top: 0.7rem;
    cursor: pointer;
}
.filter-btn input[type="radio"]:checked{

    transition: 0.50s;
    background-color: #6A5ACD;

}


/*TELA DE WORKSPACE*/
.contato{
    background-color: white;
    cursor: pointer;
    display: flex;
    height: 50px;
    padding: 3%;
}

.contato-icons{
    width: 20px;
    height: 20px;
    margin-left: 30%;
    display: flex;

}

.contato img{
    margin-left: 50%;
}

.workspace{
    display: inline-block;
}

.card-body-w p{
    font-weight: bold;
}
.card-body-w span{
    font-weight: normal
}

.p-workspace{
    padding-bottom: 0;
    padding-top: 3%;
    font-weight: bold;
}

.span-workspace{
    padding-top: 0;
    font-size: 1.5rem;
}

.icon-contact{
    cursor: pointer;
    width: 7%;
}

.header-workspace{
    display: flex;
    flex-direction: row;
}

.card-workspace{
    margin-left: 10%;
}

#span-header-workspace{
    font-size: 2rem;
    font-weight: bold;
}

#h1-workspace{
    text-align: center;
    margin-top: 15%;
}

.icons-contact{
    display: flex;

}

/*Criando contato*/
.content-form-cadastro{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.8);
}
.endereco{
    margin-bottom: 2.6rem;
}

/* TELA DE PERFIL */
.card-profile{
    padding: 2%;
}
.card-header-p{
    display:flex;
    flex-direction: row;
    padding: 2%;
}
.buttonProfile{
    justify-content: end;
    width: 20%;
    height: 15%;
    position: relative;
    margin-left: 50%;
}

.p-profile{
    font-size: 1.5rem;
}
.label-profile{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 2%;
}

.input-profile{
    font-size: 1.5rem !important;
    color: pink;
    border-radius:10%;
    width: 125px
}

.image-profile{
    border-radius: 10%;
    width: 125px;
}

#mostrarFotos{
    border: 1px solid gray;
    margin-top: 1%;
    width: 25%;
    font-size: 1.3rem;
    border-radius: 10px;
    height: 30px;
}

#photoOptions{
    display: none;
}

.icons-contact form{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.icon-edit{

}

/*Header-3*/

.navbar-3{
    display: flex;
    flex-direction: initial;
}

.menu-perfil3{
    padding: 0rem;
    margin-left: 4rem;
    margin-top: 2rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2rem;
    transition: transform 0.3s ease;
    cursor:pointer;
    list-style: none;
    width: 100%;

}
.menu-perfil3 li button a{
    display:block;

    padding: 2rem;

    color:var(--default-font-color);
    font-size: 2rem !important;
    text-decoration: none;

}
.menu-perfil3:hover{
    transform: scale(1.1);
    transition: 0.50s;
}

.head-3{
    display: flex;
}
/*Forgot_pass*/
.form .actions-login-2{

    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .actions-login-2 input {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    background: #6b26e2;
    width: 100%;
    border-radius: 1rem;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:transparent;
    transition: transform 0.3s ease;
    overflow: hidden;
    font-weight: 400;
    cursor:pointer;
}
.form .actions-login-2 input:hover{
    transform: scale(1.1);

}